<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_2ZPewB3xEeeBDIA30XLAHg" specification="interface Controls:&#xA;&#x9;in event switchLight&#xA;&#x9;in event switchSprinkler&#xA;interface Publisher:&#xA;&#x9;out event switchLightOn&#xA;&#x9;out event switchLightOff&#xA;&#x9;out event switchSprinklerOn&#xA;&#x9;out event switchSprinklerOff" name="ControlPanel">
    <regions xmi:id="_2ZQF1B3xEeeBDIA30XLAHg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_2ZQs6R3xEeeBDIA30XLAHg">
        <outgoingTransitions xmi:id="_hs9NYB4nEee19qwz3Pp6ZQ" specification="" target="_gx1o8B4nEee19qwz3Pp6ZQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_gx1o8B4nEee19qwz3Pp6ZQ" name="Main" incomingTransitions="_hs9NYB4nEee19qwz3Pp6ZQ">
        <regions xmi:id="_gx23EB4nEee19qwz3Pp6ZQ" name="Sprinkler">
          <vertices xsi:type="sgraph:State" xmi:id="_53b0YB4nEee19qwz3Pp6ZQ" name="Off" incomingTransitions="_A1SXUB4oEee19qwz3Pp6ZQ _EdS_0B4oEee19qwz3Pp6ZQ">
            <outgoingTransitions xmi:id="_EChIUB4oEee19qwz3Pp6ZQ" specification="Controls.switchSprinkler / &#xD;&#xA;raise Publisher.switchSprinklerOn" target="__GkLsB4nEee19qwz3Pp6ZQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="__GkLsB4nEee19qwz3Pp6ZQ" name="On" incomingTransitions="_EChIUB4oEee19qwz3Pp6ZQ">
            <outgoingTransitions xmi:id="_EdS_0B4oEee19qwz3Pp6ZQ" specification="Controls.switchSprinkler / &#xD;&#xA;raise Publisher.switchSprinklerOff" target="_53b0YB4nEee19qwz3Pp6ZQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_AIuzUB4oEee19qwz3Pp6ZQ">
            <outgoingTransitions xmi:id="_A1SXUB4oEee19qwz3Pp6ZQ" specification="" target="_53b0YB4nEee19qwz3Pp6ZQ"/>
          </vertices>
        </regions>
        <regions xmi:id="_gx23ER4nEee19qwz3Pp6ZQ" name="Light">
          <vertices xsi:type="sgraph:State" xmi:id="_9x43wB4nEee19qwz3Pp6ZQ" name="Off" incomingTransitions="_BRhAUB4oEee19qwz3Pp6ZQ __4G2AB4qEee19qwz3Pp6ZQ">
            <outgoingTransitions xmi:id="__RNOEB4qEee19qwz3Pp6ZQ" specification="Controls.switchLight / &#xD;&#xA;raise Publisher.switchLightOn" target="_95waUB4nEee19qwz3Pp6ZQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_95waUB4nEee19qwz3Pp6ZQ" name="On" incomingTransitions="__RNOEB4qEee19qwz3Pp6ZQ">
            <outgoingTransitions xmi:id="__4G2AB4qEee19qwz3Pp6ZQ" specification="Controls.switchLight / &#xD;&#xA;raise Publisher.switchLightOff" target="_9x43wB4nEee19qwz3Pp6ZQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_AaqQ0B4oEee19qwz3Pp6ZQ">
            <outgoingTransitions xmi:id="_BRhAUB4oEee19qwz3Pp6ZQ" specification="" target="_9x43wB4nEee19qwz3Pp6ZQ"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_2ZQF0h3xEeeBDIA30XLAHg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_2ZPewB3xEeeBDIA30XLAHg" measurementUnit="Pixel">
    <children xmi:id="_2ZQs4B3xEeeBDIA30XLAHg" type="Region" element="_2ZQF1B3xEeeBDIA30XLAHg">
      <children xsi:type="notation:DecorationNode" xmi:id="_2ZQs4x3xEeeBDIA30XLAHg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2ZQs5B3xEeeBDIA30XLAHg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2ZQs5R3xEeeBDIA30XLAHg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_2ZQs5h3xEeeBDIA30XLAHg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_2ZQs6h3xEeeBDIA30XLAHg" type="Entry" element="_2ZQs6R3xEeeBDIA30XLAHg">
          <children xmi:id="_2ZQs7h3xEeeBDIA30XLAHg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_2ZRT8B3xEeeBDIA30XLAHg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_2ZRT8R3xEeeBDIA30XLAHg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_2ZRT8h3xEeeBDIA30XLAHg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2ZQs7x3xEeeBDIA30XLAHg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2ZQs8B3xEeeBDIA30XLAHg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2ZQs6x3xEeeBDIA30XLAHg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_2ZQs7B3xEeeBDIA30XLAHg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2ZRT8x3xEeeBDIA30XLAHg" x="127" width="15" height="15"/>
        </children>
        <children xmi:id="_gx3eIB4nEee19qwz3Pp6ZQ" type="State" element="_gx1o8B4nEee19qwz3Pp6ZQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_gx4FMB4nEee19qwz3Pp6ZQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_gx4FMR4nEee19qwz3Pp6ZQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_gx4FMh4nEee19qwz3Pp6ZQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_gx5TUB4nEee19qwz3Pp6ZQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_gx56YB4nEee19qwz3Pp6ZQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gx56YR4nEee19qwz3Pp6ZQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_gx56Yh4nEee19qwz3Pp6ZQ" type="StateFigureCompartment">
            <children xmi:id="_0YoCUB4nEee19qwz3Pp6ZQ" type="Region" element="_gx23EB4nEee19qwz3Pp6ZQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_0YoCUR4nEee19qwz3Pp6ZQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_0YoCUh4nEee19qwz3Pp6ZQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_0YoCUx4nEee19qwz3Pp6ZQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_0YoCVB4nEee19qwz3Pp6ZQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_53dpkB4nEee19qwz3Pp6ZQ" type="State" element="_53b0YB4nEee19qwz3Pp6ZQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_53dplB4nEee19qwz3Pp6ZQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_53dplR4nEee19qwz3Pp6ZQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_53dplh4nEee19qwz3Pp6ZQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_53dplx4nEee19qwz3Pp6ZQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_53eQoB4nEee19qwz3Pp6ZQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_53eQoR4nEee19qwz3Pp6ZQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_53eQoh4nEee19qwz3Pp6ZQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_53dpkR4nEee19qwz3Pp6ZQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_53dpkh4nEee19qwz3Pp6ZQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_53eQox4nEee19qwz3Pp6ZQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_53dpkx4nEee19qwz3Pp6ZQ" x="69" y="115" width="120" height="84"/>
                </children>
                <children xmi:id="__GjkoR4nEee19qwz3Pp6ZQ" type="State" element="__GkLsB4nEee19qwz3Pp6ZQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="__Gjkoh4nEee19qwz3Pp6ZQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="__Gjkox4nEee19qwz3Pp6ZQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="__GjkpB4nEee19qwz3Pp6ZQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__GjkpR4nEee19qwz3Pp6ZQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="__Gjkph4nEee19qwz3Pp6ZQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__Gjkpx4nEee19qwz3Pp6ZQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__GjkqB4nEee19qwz3Pp6ZQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="__GjkqR4nEee19qwz3Pp6ZQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="__Gjkqh4nEee19qwz3Pp6ZQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="__Gjkqx4nEee19qwz3Pp6ZQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="__GjkrB4nEee19qwz3Pp6ZQ" x="285" y="115" width="120" height="84"/>
                </children>
                <children xmi:id="_AIvaYB4oEee19qwz3Pp6ZQ" type="Entry" element="_AIuzUB4oEee19qwz3Pp6ZQ">
                  <children xmi:id="_AIvaZB4oEee19qwz3Pp6ZQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_AIvaZx4oEee19qwz3Pp6ZQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_AIvaaB4oEee19qwz3Pp6ZQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_AIwBcB4oEee19qwz3Pp6ZQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_AIvaZR4oEee19qwz3Pp6ZQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AIvaZh4oEee19qwz3Pp6ZQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_AIvaYR4oEee19qwz3Pp6ZQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_AIvaYh4oEee19qwz3Pp6ZQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AIvaYx4oEee19qwz3Pp6ZQ" x="27" y="85"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0YoCXx4nEee19qwz3Pp6ZQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_0YoCYB4nEee19qwz3Pp6ZQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0YoCYR4nEee19qwz3Pp6ZQ"/>
            </children>
            <children xmi:id="_06DUYB4nEee19qwz3Pp6ZQ" type="Region" element="_gx23ER4nEee19qwz3Pp6ZQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_06DUYR4nEee19qwz3Pp6ZQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_06DUYh4nEee19qwz3Pp6ZQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_06DUYx4nEee19qwz3Pp6ZQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_06DUZB4nEee19qwz3Pp6ZQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_9x3poB4nEee19qwz3Pp6ZQ" type="State" element="_9x43wB4nEee19qwz3Pp6ZQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_9x3poR4nEee19qwz3Pp6ZQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_9x3poh4nEee19qwz3Pp6ZQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_9x3pox4nEee19qwz3Pp6ZQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_9x3ppB4nEee19qwz3Pp6ZQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_9x3ppR4nEee19qwz3Pp6ZQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9x3pph4nEee19qwz3Pp6ZQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_9x3ppx4nEee19qwz3Pp6ZQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_9x3pqB4nEee19qwz3Pp6ZQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_9x3pqR4nEee19qwz3Pp6ZQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9x3pqh4nEee19qwz3Pp6ZQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9x3pqx4nEee19qwz3Pp6ZQ" x="3" y="109" width="120" height="84"/>
                </children>
                <children xmi:id="_95vzQB4nEee19qwz3Pp6ZQ" type="State" element="_95waUB4nEee19qwz3Pp6ZQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_95vzQR4nEee19qwz3Pp6ZQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_95vzQh4nEee19qwz3Pp6ZQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_95vzQx4nEee19qwz3Pp6ZQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_95vzRB4nEee19qwz3Pp6ZQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_95vzRR4nEee19qwz3Pp6ZQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_95vzRh4nEee19qwz3Pp6ZQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_95vzRx4nEee19qwz3Pp6ZQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_95vzSB4nEee19qwz3Pp6ZQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_95vzSR4nEee19qwz3Pp6ZQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_95vzSh4nEee19qwz3Pp6ZQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_95vzSx4nEee19qwz3Pp6ZQ" x="198" y="109" width="120" height="84"/>
                </children>
                <children xmi:id="_Aaq34B4oEee19qwz3Pp6ZQ" type="Entry" element="_AaqQ0B4oEee19qwz3Pp6ZQ">
                  <children xmi:id="_Aaq35B4oEee19qwz3Pp6ZQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Aaq35x4oEee19qwz3Pp6ZQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Aaq36B4oEee19qwz3Pp6ZQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_Aaq36R4oEee19qwz3Pp6ZQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Aaq35R4oEee19qwz3Pp6ZQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Aaq35h4oEee19qwz3Pp6ZQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Aaq34R4oEee19qwz3Pp6ZQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_Aaq34h4oEee19qwz3Pp6ZQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Aaq34x4oEee19qwz3Pp6ZQ" x="3" y="67"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_06DUZR4nEee19qwz3Pp6ZQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_06DUZh4nEee19qwz3Pp6ZQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_06DUZx4nEee19qwz3Pp6ZQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_gx3eIR4nEee19qwz3Pp6ZQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_gx3eIh4nEee19qwz3Pp6ZQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gx56Yx4nEee19qwz3Pp6ZQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gx3eIx4nEee19qwz3Pp6ZQ" x="7" y="42" width="860" height="426"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2ZQs5x3xEeeBDIA30XLAHg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_2ZQs4R3xEeeBDIA30XLAHg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2ZQs6B3xEeeBDIA30XLAHg" x="306" y="10" width="943" height="525"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_2ZR7CR3xEeeBDIA30XLAHg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_2ZR7Cx3xEeeBDIA30XLAHg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2ZR7DB3xEeeBDIA30XLAHg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2ZR7DR3xEeeBDIA30XLAHg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_2ZSiEB3xEeeBDIA30XLAHg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2ZSiER3xEeeBDIA30XLAHg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2ZSiEh3xEeeBDIA30XLAHg" x="10" y="10" width="285" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_2ZQF0x3xEeeBDIA30XLAHg"/>
    <edges xmi:id="_hs-bgB4nEee19qwz3Pp6ZQ" type="Transition" element="_hs9NYB4nEee19qwz3Pp6ZQ" source="_2ZQs6h3xEeeBDIA30XLAHg" target="_gx3eIB4nEee19qwz3Pp6ZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_hs_CkR4nEee19qwz3Pp6ZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hs_Ckh4nEee19qwz3Pp6ZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hs_Ckx4nEee19qwz3Pp6ZQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hs-bgR4nEee19qwz3Pp6ZQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hs_CkB4nEee19qwz3Pp6ZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hs-bgh4nEee19qwz3Pp6ZQ" points="[7, 2, -90, -33]$[98, 17, 1, -18]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_htA3wB4nEee19qwz3Pp6ZQ" id="(0.1196319018404908,0.08837209302325581)"/>
    </edges>
    <edges xmi:id="_A1TlcB4oEee19qwz3Pp6ZQ" type="Transition" element="_A1SXUB4oEee19qwz3Pp6ZQ" source="_AIvaYB4oEee19qwz3Pp6ZQ" target="_53dpkB4nEee19qwz3Pp6ZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_A1TldB4oEee19qwz3Pp6ZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_A1TldR4oEee19qwz3Pp6ZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_A1Tldh4oEee19qwz3Pp6ZQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_A1TlcR4oEee19qwz3Pp6ZQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_A1Tlcx4oEee19qwz3Pp6ZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_A1Tlch4oEee19qwz3Pp6ZQ" points="[7, 0, -107, -18]$[81, -21, -33, -39]"/>
    </edges>
    <edges xmi:id="_BRhnYB4oEee19qwz3Pp6ZQ" type="Transition" element="_BRhAUB4oEee19qwz3Pp6ZQ" source="_Aaq34B4oEee19qwz3Pp6ZQ" target="_9x3poB4nEee19qwz3Pp6ZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_BRhnZB4oEee19qwz3Pp6ZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BRhnZR4oEee19qwz3Pp6ZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BRhnZh4oEee19qwz3Pp6ZQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BRhnYR4oEee19qwz3Pp6ZQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BRhnYx4oEee19qwz3Pp6ZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BRhnYh4oEee19qwz3Pp6ZQ" points="[7, 0, -83, -19]$[33, -13, -57, -32]"/>
    </edges>
    <edges xmi:id="_ECiWcB4oEee19qwz3Pp6ZQ" type="Transition" element="_EChIUB4oEee19qwz3Pp6ZQ" source="_53dpkB4nEee19qwz3Pp6ZQ" target="__GjkoR4nEee19qwz3Pp6ZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ECiWdB4oEee19qwz3Pp6ZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ECiWdR4oEee19qwz3Pp6ZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ECiWdh4oEee19qwz3Pp6ZQ" x="12" y="56"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ECiWcR4oEee19qwz3Pp6ZQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ECiWcx4oEee19qwz3Pp6ZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ECiWch4oEee19qwz3Pp6ZQ" points="[3, 21, 1, -172]$[3, 231, 1, 38]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ECkLoB4oEee19qwz3Pp6ZQ" id="(0.14166666666666666,0.7380952380952381)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ECkLoR4oEee19qwz3Pp6ZQ" id="(0.15833333333333333,0.5238095238095238)"/>
    </edges>
    <edges xmi:id="_EdTm4B4oEee19qwz3Pp6ZQ" type="Transition" element="_EdS_0B4oEee19qwz3Pp6ZQ" source="__GjkoR4nEee19qwz3Pp6ZQ" target="_53dpkB4nEee19qwz3Pp6ZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_EdUN8R4oEee19qwz3Pp6ZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EdUN8h4oEee19qwz3Pp6ZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EdUN8x4oEee19qwz3Pp6ZQ" x="-11" y="39"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EdTm4R4oEee19qwz3Pp6ZQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EdUN8B4oEee19qwz3Pp6ZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EdTm4h4oEee19qwz3Pp6ZQ" points="[6, -9, 4, 138]$[6, -140, 4, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EdU1AB4oEee19qwz3Pp6ZQ" id="(0.625,0.11904761904761904)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EdU1AR4oEee19qwz3Pp6ZQ" id="(0.9583333333333334,0.2261904761904762)"/>
    </edges>
    <edges xmi:id="__RN1IB4qEee19qwz3Pp6ZQ" type="Transition" element="__RNOEB4qEee19qwz3Pp6ZQ" source="_9x3poB4nEee19qwz3Pp6ZQ" target="_95vzQB4nEee19qwz3Pp6ZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="__ROcMR4qEee19qwz3Pp6ZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__ROcMh4qEee19qwz3Pp6ZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__ROcMx4qEee19qwz3Pp6ZQ" x="12" y="52"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__RN1IR4qEee19qwz3Pp6ZQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__ROcMB4qEee19qwz3Pp6ZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__RN1Ih4qEee19qwz3Pp6ZQ" points="[13, 1, -133, -7]$[149, 24, 3, 16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__RPqUB4qEee19qwz3Pp6ZQ" id="(0.8916666666666667,0.7023809523809523)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__RPqUR4qEee19qwz3Pp6ZQ" id="(0.4666666666666667,0.8095238095238095)"/>
    </edges>
    <edges xmi:id="__4IEIB4qEee19qwz3Pp6ZQ" type="Transition" element="__4G2AB4qEee19qwz3Pp6ZQ" source="_95vzQB4nEee19qwz3Pp6ZQ" target="_9x3poB4nEee19qwz3Pp6ZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="__4IrMB4qEee19qwz3Pp6ZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__4IrMR4qEee19qwz3Pp6ZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__4IrMh4qEee19qwz3Pp6ZQ" x="-9" y="51"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__4IEIR4qEee19qwz3Pp6ZQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__4IEIx4qEee19qwz3Pp6ZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__4IEIh4qEee19qwz3Pp6ZQ" points="[-7, -4, 117, 2]$[-120, -23, 4, -17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__4JSQB4qEee19qwz3Pp6ZQ" id="(0.06666666666666667,0.2976190476190476)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__4JSQR4qEee19qwz3Pp6ZQ" id="(0.6833333333333333,0.2261904761904762)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
