<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_wcn-EB3rEeeBDIA30XLAHg" specification="interface Controls:&#xA;&#x9;in event dark&#xA;&#x9;in event bright&#xA;interface Publisher:&#xA;&#x9;out event dark&#xA;&#x9;out event bright" name="LightSensor">
    <regions xmi:id="_wcn-FR3rEeeBDIA30XLAHg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_wcn-Hx3rEeeBDIA30XLAHg">
        <outgoingTransitions xmi:id="_wcn-Ox3rEeeBDIA30XLAHg" target="_wcn-Kx3rEeeBDIA30XLAHg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_wcn-Kx3rEeeBDIA30XLAHg" name="Bright" incomingTransitions="_wcn-Ox3rEeeBDIA30XLAHg _EAYRkB3sEeeBDIA30XLAHg">
        <outgoingTransitions xmi:id="_7xVzkB3rEeeBDIA30XLAHg" specification="Controls.dark / raise Publisher.dark" target="_5cIPvR3rEeeBDIA30XLAHg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5cIPvR3rEeeBDIA30XLAHg" name="Dark" incomingTransitions="_7xVzkB3rEeeBDIA30XLAHg">
        <outgoingTransitions xmi:id="_EAYRkB3sEeeBDIA30XLAHg" specification="Controls.bright / raise Publisher.bright" target="_wcn-Kx3rEeeBDIA30XLAHg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_wcn-Ex3rEeeBDIA30XLAHg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_wcn-EB3rEeeBDIA30XLAHg" measurementUnit="Pixel">
    <children xmi:id="_wcn-Fh3rEeeBDIA30XLAHg" type="Region" element="_wcn-FR3rEeeBDIA30XLAHg">
      <children xsi:type="notation:DecorationNode" xmi:id="_wcn-GR3rEeeBDIA30XLAHg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wcn-Gh3rEeeBDIA30XLAHg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wcn-Gx3rEeeBDIA30XLAHg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_wcn-HB3rEeeBDIA30XLAHg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_wcn-IB3rEeeBDIA30XLAHg" type="Entry" element="_wcn-Hx3rEeeBDIA30XLAHg">
          <children xmi:id="_wcn-JB3rEeeBDIA30XLAHg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_wcn-Jx3rEeeBDIA30XLAHg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_wcn-KB3rEeeBDIA30XLAHg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_wcn-KR3rEeeBDIA30XLAHg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wcn-JR3rEeeBDIA30XLAHg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wcn-Jh3rEeeBDIA30XLAHg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wcn-IR3rEeeBDIA30XLAHg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_wcn-Ih3rEeeBDIA30XLAHg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wcn-Kh3rEeeBDIA30XLAHg" x="70" y="20"/>
        </children>
        <children xmi:id="_wcn-Lh3rEeeBDIA30XLAHg" type="State" element="_wcn-Kx3rEeeBDIA30XLAHg">
          <children xsi:type="notation:DecorationNode" xmi:id="_wcn-Mh3rEeeBDIA30XLAHg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wcn-Mx3rEeeBDIA30XLAHg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_wcn-NB3rEeeBDIA30XLAHg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wcn-NR3rEeeBDIA30XLAHg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_wcn-Nh3rEeeBDIA30XLAHg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wcn-Nx3rEeeBDIA30XLAHg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wcn-OB3rEeeBDIA30XLAHg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wcn-Lx3rEeeBDIA30XLAHg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_wcn-MB3rEeeBDIA30XLAHg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wcn-OR3rEeeBDIA30XLAHg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wcn-Oh3rEeeBDIA30XLAHg" x="40" y="80" width="185" height="130"/>
        </children>
        <children xmi:id="_5cIPsR3rEeeBDIA30XLAHg" type="State" element="_5cIPvR3rEeeBDIA30XLAHg">
          <children xsi:type="notation:DecorationNode" xmi:id="_5cIPsh3rEeeBDIA30XLAHg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5cIPsx3rEeeBDIA30XLAHg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5cIPtB3rEeeBDIA30XLAHg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5cIPtR3rEeeBDIA30XLAHg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5cIPth3rEeeBDIA30XLAHg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5cIPtx3rEeeBDIA30XLAHg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5cIPuB3rEeeBDIA30XLAHg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5cIPuR3rEeeBDIA30XLAHg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5cIPuh3rEeeBDIA30XLAHg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5cIPux3rEeeBDIA30XLAHg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5cIPvB3rEeeBDIA30XLAHg" x="403" y="80" width="185" height="130"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wcn-HR3rEeeBDIA30XLAHg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_wcn-Fx3rEeeBDIA30XLAHg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wcn-Hh3rEeeBDIA30XLAHg" x="300" y="10" width="661" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_wcn-Qx3rEeeBDIA30XLAHg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_wcn-RR3rEeeBDIA30XLAHg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wcn-Rh3rEeeBDIA30XLAHg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wcn-Rx3rEeeBDIA30XLAHg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_wcn-SB3rEeeBDIA30XLAHg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wcn-SR3rEeeBDIA30XLAHg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wcn-Sh3rEeeBDIA30XLAHg" x="10" y="10" width="273" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_wcn-FB3rEeeBDIA30XLAHg"/>
    <edges xmi:id="_wcn-PB3rEeeBDIA30XLAHg" type="Transition" element="_wcn-Ox3rEeeBDIA30XLAHg" source="_wcn-IB3rEeeBDIA30XLAHg" target="_wcn-Lh3rEeeBDIA30XLAHg">
      <children xsi:type="notation:DecorationNode" xmi:id="_wcn-QB3rEeeBDIA30XLAHg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wcn-QR3rEeeBDIA30XLAHg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wcn-Qh3rEeeBDIA30XLAHg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wcn-PR3rEeeBDIA30XLAHg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wcn-Px3rEeeBDIA30XLAHg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wcn-Ph3rEeeBDIA30XLAHg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_7xXBsB3rEeeBDIA30XLAHg" type="Transition" element="_7xVzkB3rEeeBDIA30XLAHg" source="_wcn-Lh3rEeeBDIA30XLAHg" target="_5cIPsR3rEeeBDIA30XLAHg">
      <children xsi:type="notation:DecorationNode" xmi:id="_7xXBtB3rEeeBDIA30XLAHg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7xXBtR3rEeeBDIA30XLAHg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7xXBth3rEeeBDIA30XLAHg" x="-1" y="-47"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7xXBsR3rEeeBDIA30XLAHg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7xXBsx3rEeeBDIA30XLAHg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7xXBsh3rEeeBDIA30XLAHg" points="[18, 1, -188, 2]$[207, -32, 1, -31]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7xY24B3rEeeBDIA30XLAHg" id="(0.9027027027027027,0.26153846153846155)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7xY24R3rEeeBDIA30XLAHg" id="(0.032432432432432434,0.25384615384615383)"/>
    </edges>
    <edges xmi:id="_EAZfsB3sEeeBDIA30XLAHg" type="Transition" element="_EAYRkB3sEeeBDIA30XLAHg" source="_5cIPsR3rEeeBDIA30XLAHg" target="_wcn-Lh3rEeeBDIA30XLAHg">
      <children xsi:type="notation:DecorationNode" xmi:id="_EAZftB3sEeeBDIA30XLAHg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EAZftR3sEeeBDIA30XLAHg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EAZfth3sEeeBDIA30XLAHg" x="3" y="-39"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EAZfsR3sEeeBDIA30XLAHg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EAZfsx3sEeeBDIA30XLAHg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EAZfsh3sEeeBDIA30XLAHg" points="[-15, 1, 253, -8]$[-264, 33, 4, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EAaGwB3sEeeBDIA30XLAHg" id="(0.08648648648648649,0.7384615384615385)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EAaGwR3sEeeBDIA30XLAHg" id="(0.6162162162162163,0.8153846153846154)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
